@page "/change-password"
@inject tms.Services.StorageConfigurationService StorageConfigService

<h1 class="text-center mt-4 mb-5">Change Password</h1>

<Card Style="width: 24rem; margin: auto; border-color: #6f42c1;">
    <CardHeader class="bg-purple text-white text-center">
        <h4>Update Your Password</h4>
    </CardHeader>
    <CardBody>
        <EditForm Model="@StorageConfigService" class="form-horizontal">

            <div class="form-group mb-3">
                <label for="OldPassword" class="form-label fw-bold">Old Password:</label>
@*                 <InputText id="OldPassword" class="form-control" Type="password" Placeholder="Enter your old password" />
 *@            </div>

            <div class="form-group mb-3">
                <label for="NewPassword" class="form-label fw-bold">New Password:</label>
@*                 <InputText id="NewPassword" class="form-control" Type="password" Placeholder="Enter your new password" />
 *@            </div>

            <div class="form-group mb-3">
                <label for="ConfirmNewPassword" class="form-label fw-bold">Confirm New Password:</label>
@*                 <InputText id="ConfirmNewPassword" class="form-control" Type="password" Placeholder="Re-enter your new password" />
 *@            </div>

            <div class="d-grid gap-2 mt-4">
                <Button Type="ButtonType.Submit" Color="ButtonColor.Primary" class="btn btn-lg" Style="background-color: #6f42c1; border-color: #6f42c1;">
                    Change Password
                </Button>
            </div>
        </EditForm>
    </CardBody>
</Card>

<!-- Custom CSS -->
<style>
    .bg-purple {
        background-color: #6f42c1;
    }

    .fw-bold {
        font-weight: bold;
    }
</style>


@code {

}
