@page "/login"
@inject tms.Services.StorageConfigurationService StorageConfigService

<h1 class="text-center mt-4 mb-5"> Welcome Back </h1>

<Card Class="my-card-container">
    <CardHeader class="bg-blue rounded-3 text-white text-center">
        <h3 class="m-2"> <i class="bi bi-person-circle"></i> Admin </h3>
    </CardHeader>
    <CardBody>
        <EditForm Model="@StorageConfigService" class="form-horizontal">

            <div class="form-group mb-3">
                <label for="Password" class="form-label fw-bold">Password:</label>
                      <div class="d-flex justify-content-around">
                         <input asp-for="Password" @bind-value="Password" type="@PasswordInputType" class="form-control form-control-lg" id="password" placeholder="Enter password">
                            <div>
                            <Button Type="ButtonType.Button" Color="ButtonColor.Secondary" Outline="true" class="btn btn-lg" @onclick="TogglePasswordVisibility">
                                <i class="@ToggleIconClass" id="togglePasswordIcon"></i>
                            </Button>
                            </div>
                      </div>
            </div>

            <div class="d-grid gap-2 mt-4">
                <Button Type="ButtonType.Submit" Color="ButtonColor.Success" class="btn btn-lg">
                    Login
                </Button>
            </div>
        </EditForm>

    </CardBody>
</Card>

<!-- Custom CSS -->
<style>
    .bg-blue {
        background-color: #2460b9;
    }

    .fw-bold {
        font-weight: bold;
    }

    .my-card-container {
        padding: 15px;
        margin: auto;
        background-color: white;
        border-radius: 15px;
        border: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        width: 24rem;
    }   
</style>


@code {
    private string Password { get; set; } = string.Empty; // To store the password
    private string PasswordInputType { get; set; } = "password"; // Default input type
    private string ToggleIconClass { get; set; } = "bi bi-eye"; // Default icon class

    // Method to toggle the password visibility
    private void TogglePasswordVisibility()
    {
        if (PasswordInputType == "password")
        {
            PasswordInputType = "text"; // Change to text
            ToggleIconClass = "bi bi-eye-slash"; // Change icon to eye-slash
        }
        else
        {
            PasswordInputType = "password"; // Change back to password
            ToggleIconClass = "bi bi-eye"; // Change icon back to eye
        }
    }
}
