@page "/login"
@inject tms.Services.StorageConfigurationService StorageConfigService

<h1 class="text-center mt-4 mb-5">Login</h1>

<Card Style="width: 24rem; margin: auto; border-color: #6f42c1;">
    <CardHeader class="bg-purple text-white text-center">
        <h4>Welcome Back</h4>
    </CardHeader>
    <CardBody>
        <EditForm Model="@StorageConfigService" class="form-horizontal">
            <!-- Username Field -->
            <div class="form-group mb-3">
                <label for="Username" class="form-label fw-bold">Username:</label>
@*                 <InputText id="Username" class="form-control" Placeholder="Enter your username" />
 *@            </div>

            <!-- Password Field -->
            <div class="form-group mb-3">
                <label for="Password" class="form-label fw-bold">Password:</label>
@*                 <InputText id="Password" class="form-control" Type="password" Placeholder="Enter your password" />
 *@            </div>

            <!-- Submit Button -->
            <div class="d-grid gap-2 mt-4">
                <Button Type="ButtonType.Submit" Color="ButtonColor.Primary" class="btn btn-lg" Style="background-color: #6f42c1; border-color: #6f42c1;">
                    Login
                </Button>
            </div>
        </EditForm>

        <!-- Forgot Password Link -->
        <div class="text-center mt-3">
            <a href="#" class="text-decoration-none" Style="color: #6f42c1;">Forgot Password?</a>
        </div>
    </CardBody>
</Card>

<!-- Custom CSS -->
<style>
    .bg-purple {
        background-color: #6f42c1;
    }

    .fw-bold {
        font-weight: bold;
    }
</style>


@code {

}
