@page "/"
@using BlazorBootstrap;
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<Button Color="ButtonColor.Primary" @onclick="OnButtonClick">Click me</Button>
<NavLink href="/ticket-settings">Ticket settings</NavLink>
<NavLink href="/settings">Settings</NavLink>
<NavLink href="/dashboard">Dashboard</NavLink>


@code {
    private void OnButtonClick()
    {
        Console.WriteLine("Button clicked");
    }
}
