@page "/settings"
@rendermode InteractiveServer
@inject tms.Services.StorageConfigurationService StorageConfigService
@inject tms.Services.Printer.IPrinterService printerService

<h3>Storage Settings</h3>

<div>
    <label>SQLite Database Path:</label>
    <input @bind="SQLitePath" placeholder="Enter SQLite DB Path" />
    <button @onclick="SaveSQLitePath">Save</button>
</div>

<div>
    <label>Online DB Connection String:</label>
    <input @bind="RemoteDbConnectionString" placeholder="Enter Online DB Connection" />
    <button @onclick="SaveRemoteDbConnectionString">Save</button>
</div>

<div>
    <label>Backup File Path:</label>
    <input @bind="LocalFileStoragePath" placeholder="Enter Backup File Path" />
    <button @onclick="SaveLocalFileStoragePath">Save</button>
</div>

<div>
    <label>Print:</label>
    <input @bind="message" placeholder="Enter Message !!" />
    <button @onclick="PrintMessage">Print</button>
</div>
@code {
    private string SQLitePath;
    private string RemoteDbConnectionString;
    private string LocalFileStoragePath;
    private string message;

    protected override void OnInitialized()
    {
        SQLitePath = StorageConfigService.GetSQLiteDbPath();
        RemoteDbConnectionString = StorageConfigService.GetRemoteDbConnectionString();
        LocalFileStoragePath = StorageConfigService.GetLocalFileStoragePath();
    }

    private void PrintMessage() => printerService.PrintText(message);
    private void SaveSQLitePath() => StorageConfigService.SetSQLiteDbPath(SQLitePath);
    private void SaveRemoteDbConnectionString() => StorageConfigService.SetRemoteDbConnectionString(RemoteDbConnectionString);
    private void SaveLocalFileStoragePath() => StorageConfigService.SetLocalFileStoragePath(LocalFileStoragePath);
}
