@inherits LayoutComponentBase

<div class="bb-page" >
    <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
    <Sidebar  @ref="sidebar"
             ImageSrc="HubizenLogoWhite.png"
             Title="Ticket Management"
             DataProvider="SidebarDataProvider" 
             Class="no-print"
             />

    @* style="height:100vh;" *@
    <main >
        <div class="bb-top-row px-4 d-flex flex-column justify-content-around navbar-brand no-print">
            <span class="company-name mt-2">National Art Museum</span> 
            <span class="h6"> Bhaktapur, Nepal</span>
        </div>
        @* style="height: calc(100vh - 3.5rem); *@
        <article class="content px-4 d-flex "  style="justify-content:center;align-items:center;">
            <div class="py-2">@Body</div>
        </article>
    </main>
</div>


<style>
    :root{
        --bb-sidebar-top-row-background-color: #2460b9;
        --bb-sidebar-nav-item-text-active-color-rgb: 0,0,139;
        --bb-sidebar-nav-item-text-hover-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.9);
    }


    .navbar-brand {
        display: flex;
        align-items: center;
        padding: 10px 20px;
    }

    .company-name {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        color: red; 
        letter-spacing: 1px; /* Adds a slight spacing for elegance */
        text-transform: uppercase; /* Makes the name stand out */
    }

        /*Hover effect */
        .company-name:hover {
            color: #007bff; /* Subtle blue hover effect */
            text-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

</style>

@code {
    Sidebar sidebar;
    IEnumerable<NavItem> navItems;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
                   {
                       new NavItem { Id = "1", Href = "/ticket", IconName = IconName.TicketPerforatedFill, IconColor= IconColor.Primary ,Text = "Ticket"},
                       new NavItem { Id = "2", Href = "/verification", IconName = IconName.CheckSquareFill, IconColor= IconColor.Success , Text = "Verify Ticket"},
                       new NavItem { Id = "3", Href = "/ticket-settings", IconName = IconName.CurrencyDollar, Text = "Ticket Settings"},
                       new NavItem { Id = "4", Href = "/settings", IconName = IconName.GearFill, IconColor= IconColor.Secondary , Text = "Settings"},
                       new NavItem { Id = "5", Href = "/change-password", IconName = IconName.HouseLockFill, IconColor= IconColor.Danger , Text = "Change Password"},
                       new NavItem { Id = "6", Href = "/revenue", IconName = IconName.CurrencyBitcoin, IconColor= IconColor.Warning , Text = "Daily Revenue"},
                       new NavItem { Id = "7", Href = "/settings", IconName = IconName.ArrowReturnLeft, IconColor= IconColor.Danger , Text = "Logout", Class="text-danger"},
                       new NavItem { Id = "8", Href = "https://www.hubizen.com", Text = " © Hubizen Innovations", Class="position-absolute bottom-0 start-0"}
                   };

        return navItems;
    }
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
