@inherits LayoutComponentBase

<div class="bb-page" >
    <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
    <Sidebar @ref="sidebar"
             IconName="IconName.BootstrapFill"
             Title="Ticket Management"
             DataProvider="SidebarDataProvider" 
             />

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <a href="/ticket-settings" target="_blank">prices</a>
        </div>
        <article class="content px-4">
            <div class="py-2">@Body</div>
        </article>
    </main>
</div>

@code {
    Sidebar sidebar;
    IEnumerable<NavItem> navItems;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
                   {
                       new NavItem { Id = "2", Href = "/ticket", IconName = IconName.PlusSquareFill, Text = "Ticket"},

                       new NavItem { Id = "3", Href = "/ticket-settings", IconName = IconName.GearFill, Text = "Ticket Settings"},
                       new NavItem { Id = "2", Href = "/settings", IconName = IconName.PlusSquareFill, Text = "Settings"}
                   };

        return navItems;
    }
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
