@page "/settings"
@rendermode InteractiveServer
@inject tms.Services.StorageConfigurationService StorageConfigService
@inject tms.Services.Printer.IPrinterService printerService



<div class="d-flex">
    <div>
        <h3>Storage Settings</h3>
        <Card Style="width:18rem;" Class="">
            <CardBody>
                
                <EditForm Model="@StorageConfigService" class="form-inline" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group mt-4">
                        <label for="SQLitePath" class="h5">SQLite Database Path:</label>
                        <div class="d-flex">
                            <InputText class="form-control form-control-lg" @bind-Value="SQLitePath" placeholder="Enter SQLite DB Path" /> &nbsp; &nbsp;
                            <Button Color="ButtonColor.Primary" Outline="true" @onclick="SaveSQLitePath"> Save </Button>
                        </div>
                    </div>

                    <div class="form-group mt-4">
                        <label for="OnlineDBConnectionString" class="h5">Online DB Connection String:</label>
                        <div class="d-flex">
                            <InputText class="form-control form-control-lg" @bind-Value="RemoteDbConnectionString" placeholder="Enter Online DB Connection" />
                            <Button Color="ButtonColor.Primary" Outline="true" @onclick="SaveRemoteDbConnectionString"> Save </Button>
                        </div>
                    </div>

                    <div class="form-group mt-4">                
                        <label for="BackupFilePath" class="h5">Backup File Path:</label>
                        <div class="d-flex">
                            <InputText class="form-control form-control-lg" @bind-Value="LocalFileStoragePath" placeholder="Enter Backup File Path" />
                            <Button Color="ButtonColor.Success" Outline="true" @onclick="SaveLocalFileStoragePath"> Save </Button>
                        </div>
                    </div>

                    <div class="form-group mt-4">
                        <label for="PrintMessage" class="h5">Print:</label>
                        <div class="d-flex">
                            <InputText class="form-control form-control-lg" @bind-Value="message" placeholder="Enter message" />
                            <Button Color="ButtonColor.Success" Outline="true" @onclick="PrintMessage"> Print </Button>
                        </div>
                    </div>
                </EditForm>

            </CardBody>
        </Card>
    </div>

    <div>
        <h3>Printer Settings</h3>
        <Card Style="width:18rem;" Class="">
            <CardBody>
                
                <EditForm Model="@StorageConfigService" class="form-inline" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group mt-4">
                        <label for="SQLitePath" class="h5">IP Address:</label>
                        <div class="d-flex">
                            <InputText class="form-control form-control-lg" @bind-Value="SQLitePath" placeholder="Enter SQLite DB Path" /> &nbsp; &nbsp;
                            <Button Color="ButtonColor.Primary" Outline="true" @onclick="SaveSQLitePath"> Save </Button>
                        </div>
                    </div>

                    <div class="form-group mt-4">
                        <label for="OnlineDBConnectionString" class="h5">Port:</label>
                        <div class="d-flex">
                            <InputText class="form-control form-control-lg" @bind-Value="RemoteDbConnectionString" placeholder="Enter Online DB Connection" />
                            <Button Color="ButtonColor.Primary" Outline="true" @onclick="SaveRemoteDbConnectionString"> Save </Button>
                        </div>
                    </div>

                    <div class="form-group mt-4">
                        <label for="BackupFilePath" class="h5">Backup File Path:</label>
                        <div class="d-flex">
                            <InputText class="form-control form-control-lg" @bind-Value="LocalFileStoragePath" placeholder="Enter Backup File Path" />
                            <Button Color="ButtonColor.Success" Outline="true" @onclick="SaveLocalFileStoragePath"> Save </Button>
                        </div>
                    </div>

                    <div class="form-group mt-4">
                        <label for="PrintMessage" class="h5">Print:</label>
                        <div class="d-flex">
                            <InputText class="form-control form-control-lg" @bind-Value="message" placeholder="Enter message" />
                            <Button Color="ButtonColor.Success" Outline="true" @onclick="PrintMessage"> Print </Button>
                        </div>
                    </div>
                </EditForm>

            </CardBody>
        </Card>
    </div>
</div>

@* <div>
    <label>SQLite Database Path:</label>
    <input @bind="SQLitePath" placeholder="Enter SQLite DB Path" />
    <button @onclick="SaveSQLitePath">Save</button>
</div>

<div>
    <label>Online DB Connection String:</label>
    <input @bind="RemoteDbConnectionString" placeholder="Enter Online DB Connection" />
    <button @onclick="SaveRemoteDbConnectionString">Save</button>
</div>

<div>
    <label>Backup File Path:</label>
    <input @bind="LocalFileStoragePath" placeholder="Enter Backup File Path" />
    <button @onclick="SaveLocalFileStoragePath">Save</button>
</div>

<div>
    <label>Print:</label>
    <input @bind="message" placeholder="Enter Message !!" />
    <button @onclick="PrintMessage">Print</button>
</div> *@


@code {
    private string SQLitePath;
    private string RemoteDbConnectionString;
    private string LocalFileStoragePath;
    private string message;

    private async Task HandleValidSubmit()
    {
        PrintData();
    }

    private void PrintData()
    {
        Console.WriteLine(SQLitePath);
        Console.WriteLine(RemoteDbConnectionString);
        Console.WriteLine(LocalFileStoragePath);
        Console.WriteLine(message);
    }

    protected override void OnInitialized()
    {
        SQLitePath = StorageConfigService.GetSQLiteDbPath();
        RemoteDbConnectionString = StorageConfigService.GetRemoteDbConnectionString();
        LocalFileStoragePath = StorageConfigService.GetLocalFileStoragePath();
    }

    private void PrintMessage() => printerService.PrintText(message);
    private void SaveSQLitePath() => StorageConfigService.SetSQLiteDbPath(SQLitePath);
    private void SaveRemoteDbConnectionString() => StorageConfigService.SetRemoteDbConnectionString(RemoteDbConnectionString);
    private void SaveLocalFileStoragePath() => StorageConfigService.SetLocalFileStoragePath(LocalFileStoragePath);
}
